.navbarWrapper {
  padding: var(--space-m);
  background-color: var(--color-navbar-background);
  backdrop-filter: blur(20px);

  position: fixed;
  top: 0;
  z-index: 50;

  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-m);
}

.timeWrapper {
  display: flex;
  align-items: center;
  gap: var(--space-s);
}

.timeWrapper svg {
  width: 1.3em;
  height: 1.3em;
}

.timeDisplay {
  font-variant-numeric: tabular-nums;
}

.blinkingColon {
  animation: blink 1.25s infinite;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}
