.wrapper {
  padding-top: 8rem;
  padding-bottom: 3rem;
}

.cardList {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
}

@media screen and (min-width: 800px) {
  .cardList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

.localStateAlert {
  background-color: #390808;
  color: #edb7b7;
  border: 1px solid rgb(109 68 68 / 56%);
  padding: var(--space-xs) var(--space-s);
  width: fit-content;
  border-radius: var(--radius);
  margin-bottom: 1rem;
}