.wrapper {
  padding: var(--space-m);
}

.cardList {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
}

@media screen and (min-width: 800px) {
  .cardList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
