.wrapper {
  padding: var(--space-m);
}

@media screen and (min-width: 1200px) {
  .cardList {
    display: grid;
    gap: var(--space-l);
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}
